.page {
   // .page__breadcrumbs
   &__breadcrumbs {
      margin-bottom: 33px;
   }
   // .page__catalog
   &__catalog {
   }
}

.catalog {
   // .catalog__container
   &__container {
      padding: 0px 0px 0px 15px;
   }
   // .catalog__head
   &__head {
      margin-bottom: 38px;
   }
   //catalog__row
   &__row {
      display: flex;
   }
   // .catalog__filter
   &__filter {
      flex: 0 0 280px;
   }
   // .catalog__products
   &__products {
      flex: 1 1 auto;
   }
}

.head-catalog {
   display: flex;
   justify-content: space-between;
   // .head-catalog__title
   &__title {
      font-size: 28px;
      font-weight: 500;
      text-transform: uppercase;
      color: #292626;
   }
   // .head-catalog__control
   &__control {
   }
}

.control-catalog {
   // .control-catalog__sort
   &__sort {
   }
}

.sort {
   display: flex;
   // .sort__label
   &__label {
      margin: 0 15px 0 0;
      font-size: 16px;
      font-weight: 500;
      color: #7c7373;
   }
   // .sort__select
   &__select {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      &::after {
         content: "";
         flex: 0 0 12px;
         width: 12px;
         height: 8px;
         background: url("../img/icons/arrow-2.png") 0 0 no-repeat;
         transition: transform 0.3s ease 0s;
      }
      &._active {
         &::after {
            transform: rotateX(180deg);
         }
      }
   }
   // .sort__value
   &__value {
      margin: 0 15px 0 0;
      font-size: 16px;
      font-weight: 500;
      color: #292626;
   }
   // .sort__list
   &__list {
      position: absolute;
      top: 130%;
      right: 0;
      padding: 10px;
      z-index: 3;
      display: none;
      width: 180%;
      background-color: #f7f7f7;
      border: 1px solid $mainColor;
      overflow: hidden;
      cursor: default;
   }
   // .sort__item
   &__item {
      text-align: right;
      &:hover {
         background-color: rgb(240, 240, 240);
      }
   }
   // .sort__link
   &__link {
      padding: 5px;
      display: block;
      font-size: 15px;
      font-weight: 400;
      color: #525050;
      cursor: pointer;
   }
}

.filter-catalog {
   padding: 0px 25px 0px 0px;
   // .filter-catalog__form
   &__form {
   }
}

.form-filter {
   // .form-filter__field
   &__field {
      margin-bottom: 30px;
   }
   // .form-filter__legend
   &__legend {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: #292626;
   }
   // .form-filter__list
   &__list {
      margin-bottom: 20px;
   }
   // .form-filter__item
   &__item {
      margin-bottom: 15px;
      &:last-child {
         margin-bottom: 0;
      }
   }
   // .form-filter__button
   &__button {
      font-size: 16px;
      font-weight: 500;
      text-decoration: underline;
      color: #ff9c00;
      @media (min-width: $md2 + px) {
         &:hover {
            text-decoration: none;
         }
      }
   }
}
.filter-item {
   display: flex;
   align-items: center;
   // .filter-item__checkbox
   &__checkbox {
      margin-right: 23px;
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      opacity: 0;
      visibility: hidden;
      &:checked + .filter-item__label {
         color: $mainColor;
         &::before {
            background-color: #fff;
            border: 1px solid $mainColorActive;
         }
         &::after {
            opacity: 1;
            visibility: visible;
         }
      }
   }
   // .filter-item__label
   &__label {
      position: relative;
      font-size: 18px;
      font-weight: 400;
      color: #7c7373;
      transition: all 0.2s ease 0s;
      cursor: pointer;
      &::before {
         content: "";
         position: absolute;
         top: calc(50% - 10px);
         left: -44px;
         z-index: 2;
         display: block;
         width: 20px;
         height: 20px;
         background-color: #dfdfdf;
         border: 1px solid #a5a5a5;
      }
      &::after {
         content: "";
         position: absolute;
         top: calc(50% - 10px);
         left: -43px;
         z-index: 3;
         display: block;
         width: 18px;
         height: 20px;
         background: url("../img/icons/checked.png") center no-repeat;
         opacity: 0;
         visibility: hidden;
         transition: all 0.2s ease 0s;
      }
   }
}

.filter-price {
   //.filter-price__slider
   &__slider {
      margin-bottom: 20px;
   }
   //.filter-price__values
   &__values {
      display: flex;
      justify-content: space-between;
   }
   //.filter-price__input
   &__input {
      display: block;
      width: 70px;
      height: 30px;
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
      color: #7c7373;
      background-color: #fff;
      border: 1px solid #dfdfdf;
      //.filter-price__input_min
      &_min {
      }
      //.filter-price__input_max
      &_max {
      }
   }
}

.products-catalog {
   margin-bottom: 63px;
   // .products-catalog__list
   &__list {
      margin: -5px 0 25px;
      display: flex;
      flex-wrap: wrap;
   }
   // .products-catalog__item
   &__item {
      flex: 0 0 33.33%;
      padding: 5px 0;
   }
   // .products-catalog__card
   &__card {
      margin: 0;
   }
   // .products-catalog__pagination
   &__pagination {
   }
}

.pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   // .pagination__arrow
   &__arrow {
      margin-right: 15px;
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      background: url("../img/icons/double-arrow.svg") center / 100% no-repeat;
      // .pagination__arrow_prew
      &_prew {
      }
      // .pagination__arrow_prew
      &_next {
         transform: rotate(180deg);
      }
   }
   // .pagination__list
   &__list {
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   // .pagination__item
   &__item {
      padding: 10px 15px;
      // .pagination__link_current
      &_current {
         color: #fff;
         background-color: $mainColor;
      }
   }
   // .pagination__link
   &__link {
      font-size: 18px;
      font-weight: 400;
      color: #7c7373;
      color: inherit;
   }
}
