//==IMPORTS===============================================================
//==FUNCTION & MIXINES & VARIABLES========================================
@import "function";
@import "mixin";
@import "var";
//------------------------------------------------------------------------

//==FONTS=================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//------------------------------------------------------------------------

//==RESET STYLE & COMMON PARAMETERS=======================================
@import "null";
body {
   &._lock {
      overflow: hidden;
   }
}

a:focus,
button:focus {
   outline: 1px auto $mainColor;
}
// ----------------------------------------------------------------------

//==MAIN WRAPPER=========================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   // overflow: hidden;
   display: flex;
   flex-direction: column;
}
//-----------------------------------------------------------------------

//==GENERAL GRID=========================================================
._container {
   max-width: $maxWidthContainer + 30 + px;
   padding: 0px 15px;
   margin: 0 auto;
}
//----------------------------------------------------------------------

//==IMPORTS=============================================================
//==IMPORT FORMS & UI SLYLE=============================================
// @import "forms";
@import "ui";

//==IMPORT PAGES STYLE & PAGE ELEMENTS STYLE
@import "header";
@import "footer";
//---------------------------------------------------------------------

//==MAIN BLOCK=========================================================
.page {
   flex: 1 1 auto;
}
//---------------------------------------------------
