//========Fonts==============================
//default prime====================================
$fontFamilyPrime: Roboto, Arial, sans-serif;
$fontSizePrime: 15px;
$lineHeightPrime: 1.1;
$fontWeightPrime: 400;
$fontColorPrime: #000;

// color=============================================
$generalColor: #1c242a;
$mainColor: #ff9d00;
$mainColorActive: #e78216;
$secondColor: #00b5ab;
$secondColorActive: #1bcdc3;
$pageBg: #f7f7f7;

//----------------------------------------------------

// =======Max/Min width & Breackpoints================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md0: $maxWidthContainer + 30;
$md1: 1067.98;
$md2: 967.98;
$md3: 767.98;
$md4: 659.98;
$md5: 479.98;
//-----------------------------------------------------
